a {
    color: rgb(242, 247, 241);
    text-decoration: none;
}

button{
 background-color: rgb(226, 109, 63);
 border-style: solid;
 border-color: rgb(235, 141, 79);
 border-radius: 5px;
 padding: 5px;
 margin: 2px;
 font-family: Elephant, san-serif;
 font-size: 1.2em;

}
section{
    float: right;
    margin-right: 50px;
    border-color: rgb(182, 110, 3);
    border-radius: 10px;
    border-width: 1px;
    border-style: dashed;
}

.today {
    padding:10px;
    color: rgb(182, 110, 3);
    
}