body {
    background-image: url('/images/firebirdmain.jpg');
    background-size: cover;
}

.container {
    font-family: Elephant, sans serif;
    font-weight: 400;
    margin: 150px auto;
    text-align: center;
   
}
h1 {
    font-size: 3.4em;
}

form {
    
    margin: 50px auto;
 
}
label {
    font-size: 1.25em;
    margin: 5px auto;
    
}
input{
    font-size: 1.3em;
    margin: 5px auto;
    opacity: 0.6;
}

button.addbox {
    color: white;
}