body {
    background-image: url('/images/firebirdmain.jpg');
    background-size: cover;
}

.container {
    /* background-color: white;
    opacity: 0.5; */
    font-family: Elephant, sans serif;
    font-weight: 400;
    margin: 150px auto;
    text-align: center;
   
}
h1 {
    font-size: 3.4em;
}