a {
    color: rgb(242, 247, 241);
    text-decoration: none;
}

button{
 background-color: rgb(226, 109, 63);
 border-style: solid;
 border-color: rgb(235, 141, 79);
 border-radius: 5px;
 padding: 5px;
 margin: 2px;
 font-family: Elephant, san-serif;
 font-size: 1.2em;

}